* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

ul {
    list-style-type: none;
}

li a {
    text-decoration: none;
}

button {
    background-color: #3882F6;
    border-radius: 10px;
    color: #fff;
    padding: 10px;
    font-weight: bold;
    border: none;
    font-size: 16px;
}

img {
    border-radius: 20px;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.container-lower {
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    margin: 80px 0;
    gap: 28px;
}

.container-upper {
    margin-top: 16px;
}

.container-lower img {
    margin-left: auto;
    display: block;
    width: 600px;
    height: 300px;
}

.container-upper ul {
    display: flex;
    gap: 12px;
}

.container-upper div {
    font-size: 24px;
    color: #F9FAF8;
}

.container-upper a,
.container-lower p {
    font-size: 18px;
    color: #E5E7EB;
}

.container-lower h1 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.container-lower .left,
.container-lower .right {
    flex: 1 1 50%;
}

.container-lower .left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.header .container-upper {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.container-upper,
.container-lower {
    max-width: 1400px;
}

.header,
.footer {
    background-color: #1F2937;
}

.middle-cards img {
    width: 200px;
    height: 200px;
}